{% load static %}

<div class="footer-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="footer-box about-widget">
                    <h2 class="widget-title">معلومات عنا</h2>
                    <p>لأنه لكي تفهم على الأقل من أين يولد كل هذا الخطأ المولود من أولئك الذين يتهمون اللذة ويمتدحون الألم، سأفتح الأمر برمته، وتلك الأشياء ذاتها التي</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="footer-box pages">
                    <h2 class="widget-title"> الأحكام والشروط</h2>
                    <ul>
                        <li><a href="{% url 'return_policy' %}">Return Policy / سياسة العائدات</a></li>
                        <li><a href="#about-us">Privacy Policy / سياسة الخصوصية</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="footer-box pages">
                    <h2 class="widget-title">Pages / الصفحات</h2>
                    <ul>
                        <li><a href="#">رئيسي</a></li>
                        <li><a href="#about-us">من نحن</a></li>
                        <li><a href="contact.html">اتصل بنا</a></li>
                        <li><a href="#product">متجر</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="footer-box subscribe">
                    <h2 class="widget-title">Subscribe</h2>
                    <p>Subscribe to our mailing list to get the latest updates.</p>
                    <form action="index.html">
                        <input type="email" placeholder="Email">
                        <button type="submit"><i class="fas fa-paper-plane"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>