
{% extends 'base.html' %}
{% load static %}

{% block title %}Error 404{% endblock %}

{% block content %}
<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 offset-lg-2 text-center">
				<div class="breadcrumb-text">
					<h2><span class="orange-text">خير بلادك</span></h2>
					<h1>Not Found - 404 - غير معثور عليه</h1>	
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end breadcrumb section -->
<!-- error section -->
<div class="full-height-section error-section">
	<div class="full-height-tablecell">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="error-text">
						<i class="far fa-sad-cry"></i>
						<h1>عذرا، لقد عثرت على صفحة 404 الخاصة بنا</h1>
						<p>هذا الخطأ ليس مقصودا، بل مجرد حادث عرضيّ. ومع ذلك فإننا نشك في أن هذه هي الصفحة هي التي تبحث عنها ونعتذر عن هذا الأمر بشدة.</p>
						<a href="{% url 'index' %}" class="boxed-btn"><i class="fas fa-home">  </i>  انتقل إلى الصفحة الرئيسية </a>
						<a href="{% url 'shop' %}" class="boxed-btn"><i class="fas fa-shopping-cart">  </i>  انتقل إلى متجر </a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end error section -->
{% endblock %}
