{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block sign_css %} {% endblock sign_css %}
        
{% block content %}
<!-- content -->

<!-- hero area -->
<div class="hero-area hero-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 offset-lg-2 text-center">
                <div class="hero-text">
                    <div class="hero-text-tablecell">
                        <h4><span class="orange-text">أملو و العسل</span></h4>
                        <h1 id="sub-title">مواد طبيعية لذيذة</h1>
                        <div class="hero-btns">
                            <a href="#product" class="boxed-btn">المجموعات</a>
                            <a href="contact.html" class="bordered-btn">Contact Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end hero area -->

<!-- features list section -->
<div class="list-section pt-80 pb-80">
    <div class="container">

        <div class="row">
            <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                <div class="list-box d-flex align-items-center">
                    <div class="list-icon">
                        <i class="fas fa-shipping-fast"></i>
                    </div>
                    <div class="content">
                        <h3>ًالشحن مجانا</h3>
                        <p>في كل مكان بالمغرب</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                <div class="list-box d-flex align-items-center">
                    <div class="list-icon">
                        <i class="fas fa-phone-volume"></i>
                    </div>
                    <div class="content">
                        <h3>دعم 24/7</h3>
                        <p>احصل على الدعم طوال اليوم</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="list-box d-flex justify-content-start align-items-center">
                    <div class="list-icon">
                        <i class="fas fa-sync"></i>
                    </div>
                    <div class="content">
                        <h3>استرداد / Refund</h3>
                        <p>استرد أموالك خلال 3 أيام!</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- end features list section -->

    <!-- products -->
<div id="product" class="product-section mt-150 mb-150">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="section-title">	
                    <h3> منتجا <span class="orange-text">تنا</span></h3>
                </div>
            </div>
        </div>
		<div class="row">
			<div class="col-md-12">
				<div class="product-filters">
					<ul>
						<li data-filter="*" class="active"  >All</li>
						{% for categorie in categories %}
                            <li data-filter=".{{ categorie }}" >{{ categorie }}</li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>

        <div class="row product-lists">
            {% for product_info in discounted_products %}
                {% if product_info.product.is_active %}
                    <div class="col-lg-4 col-md-6 text-center {{product_info.product.categories}}">
                        <div class="single-product-item">
                            <div class="product-image">
                                <a href="{% url 'single_product' slug=product_info.product.slug  %}"><img src="{{ product_info.product.produc_image.url }}" alt=""></a>
                            </div>
                            <h3>{{ product_info.product }}</h3>
                            <p class="product-price"><span>لكل لتر</span><span style="text-decoration: line-through;">{{ product_info.product.anchor_price|add:"0" }} د.م</span> {{ product_info.discounted_price|add:"0" }} د.م </p>
                            <a data-product="{{product_info.product.slug}}" data-action="add" class="cart-btn update-cart"><i class="fas fa-shopping-cart"></i> أضف إلى السلة</a>
                            <a href="{% url 'single_product' slug=product_info.product.slug  %}" class="cart-btn-border">شراء الآن</a>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
<!-- end products -->

{% for product_info in discounted_products %}
    <p>{{ product_info.product.name }} - Original Price: {{ product_info.product.price }} - 
    {% if product_info.offer_percentage > 0 %}
        Discounted Price: {{ product_info.discounted_price }} ({{ product_info.offer_percentage }}% off)
    {% else %}
        No Discount
    {% endif %}
    </p>
{% endfor %}

<!-- cart banner section -->
<section  class="cart-banner pt-100 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="section-title">	
                    <h3><span class="orange-text">عروض</span> هدى شهر </h3>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            {% for offer in offers %}
                <!--Image Column-->
                <div class="image-column col-lg-6">
                    <div class="image">
                        <div class="price-box">
                            <div class="inner-price">
                                <span class="price">
                                    <strong>{{ offer.percentage}}%</strong> <br> من كل لتر
                                </span>
                            </div>
                        </div>
                        <img src="{{ offer.product.produc_image.url }}" alt="">
                    </div>
                </div>
                <!--Content Column-->
                <div  class="content-column col-lg-6">
                    <h4>{{ offer }}</h4>
                    <div class="text">{{ offer.product.discription }}</div>
                    <!--Countdown Timer-->
                    <div class="time-counter"><div class="time-countdown clearfix" data-countdown="{{ offer.finish_date|date:'Y/m/d' }}"><div class="counter-column"><div class="inner"><span class="count">00</span>Days</div></div> <div class="counter-column"><div class="inner"><span class="count">00</span>Hours</div></div>  <div class="counter-column"><div class="inner"><span class="count">00</span>Mins</div></div>  <div class="counter-column"><div class="inner"><span class="count">00</span>Secs</div></div></div></div>
                    <a data-product="{{offer.product.slug}}" data-action="add" class="cart-btn update-cart"><i class="fas fa-shopping-cart"></i> أضف إلى السلة</a>
                    <a id="about-us" href="{% url 'single_product' slug=offer.product.slug  %}" class="cart-btn-border mt-3">مزيد من المعلومات</a>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- end cart banner section -->

<div  class="abt-section mt-80 mb-80 ">
    <div class="container">
        <div class="row">

            <div class=" col-md-12 text-center">
                <div class="abt-text">
                    <p class="top-sub">منذ عام 2000</p>
                    <h2>نحن <span class="orange-text">خير بلادي </span></h2>
                    <p><h4>حتى المفرج كدعاية أو أعضاء. في لا كتلة شركة الطيران ولا بقية الصناعة. الاستثمار العقاري يجب أن يوضع موضع التنفيذ. ولكي يتغلب على الألم تتغلب عليه الحكمة، لكنه يريد ذلك أحياناً. للعاملين في كرة القدم.						</h4></p>
                    <p>من المهم جدًا أن ينتبه العميل إلى عملية إزالة الدهون. بحكمة، من السهل عليه صد قدر أقل من الحقيقة، وبجهد أقل المرونة التي نقودها.	</p>
                    <a href="about.html" class="boxed-btn mt-4">know more</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- content -->
{% endblock %}

{% block sign_scripts %}  {% endblock sign_scripts %}
