{% extends 'base.html' %}
{% load static %}

{% block title %}Return Policy{% endblock %}

{% block content %}

<div class="breadcrumb-section breadcrumb-bg">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 offset-lg-2 text-center">
				<div class="breadcrumb-text">
					<h2><span class="orange-text">خير بلادي </span></h2>
					<h1>Return Policy / سياسة العائدات</h1>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- single article section -->
<div class="mt-80">
	<div class="container">
		<div class="row">
				<div class="single-article-section">
					<div class="single-article-text mb-80">
			<h2>Return and exchange policy</h2>
			<p>- The return or exchange of a product is a right for all our customers, and it includes all the products we offer on our shop.</p>
			<p>- All the products offered on our shop are subject to the exchange and refund policy according to the terms and conditions stipulated on this page.</p>
			<p>- Returns or exchanges can be made if the product is in its original condition when purchased and packed in its original packaging.</p>
			<p>- Return within three (3) days and replacement within seven (7) days from the date of purchase.</p>
			<p>- Please contact us via the Contact Us page or via our phone numbers to request a return or exchange.</p>
			<p>- Please take a picture and send the product with the city, address and order number specified so that it can be replaced by another product in case the product is corrupt or has a certain defect, or it is not used in accordance with the agreement.</p>
			<p>- The amount is returned to the customer in full if the product he received is completely different from the product presented on our website.</p>
			<p>- We are not responsible for expectations of customer use of the products, which we did not mention on the product page on our website.</p>
			<p>- Deduct 30% or a value of at least 25 dirhams if the customer does not want the product and the latter has no defect or problem mentioned.</p>

			<h2>سياسة الإرجاع والاستبدال</h2>
			<p>- إرجاع أو استبدال منتج هو حق لجميع عملائنا، ويشمل جميع المنتجات التي نعرضها على متجرنا.</p>
			<p>- جميع المنتجات المعروضة في متجرنا تخضع لسياسة الاستبدال والاسترجاع حسب الشروط والأحكام المنصوص عليها في هذه الصفحة.</p>
			<p>- يمكن الإرجاع أو الاستبدال إذا كان المنتج بحالته الأصلية عند شرائه وتعبئته في عبوته الأصلية.</p>
			<p>- الإرجاع خلال ثلاثة (3) أيام والاستبدال خلال سبعة (7) أيام من تاريخ الشراء.</p>
			<p>- يرجى التواصل معنا عبر صفحة اتصل بنا أو عبر أرقام هواتفنا لطلب الإرجاع أو الاستبدال.</p>
			<p>- يرجى التقاط صورة وإرسال المنتج مع تحديد المدينة والعنوان ورقم الطلب حتى يمكن استبداله بمنتج آخر في حالة كان المنتج فاسدًا أو به عيب معين، أو لم يتم استخدامه وفقًا للاتفاقية.</p>
			<p>- يتم إرجاع المبلغ للعميل كاملا إذا كان المنتج الذي استلمه مختلف تماما عن المنتج المعروض على موقعنا.</p>
			<p>- نحن لسنا مسؤولين عن توقعات استخدام العملاء للمنتجات، والتي لم نذكرها في صفحة المنتج على موقعنا.</p>
			<p>- خصم 30% أو قيمة لا تقل عن 25 درهماً إذا كان العميل لا يريد المنتج ولم يكن الأخير به أي عيب أو مشكلة مذكورة.</p>
		</div>
			</div>
	</div>
</div>
<!-- end single article section -->

{% endblock %}