
{% extends 'dash_base.html' %}
{% load static %}

{% block title %}All orders{% endblock %}

{% block sign_css %}
<link href="{% static 'dash_css/table.css' %}" rel="stylesheet">
{% endblock sign_css %}
        
{% block content %}

<div class="container-fluid pt-4 px-4">
    <div class="text-secondary text-center rounded p-4">
        <div class="d-flex align-items-center justify-content-between mb-4">
            <h6 class="mb-0">All Orders</h6>
        </div>
        <div class="table-responsive">
            <table id="orderTable" class="table text-start align-middle table-bordered table-hover mb-0">
                <thead>
                    <tr class="text-white">
                        <th scope="col">#</th>
                        <th scope="col">Customer</th>
                        <th scope="col">Date</th>
                        <th scope="col">Phone Number</th>
                        <th scope="col">Email</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Product</th>
                        <th scope="col">Status</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order, products_count, amount, ord in order_infos %}
                        <tr>
                            <td scope="row">{{ forloop.counter }}</td>
                            <td>{{ order.name }}</td>
                            <td>{{ order.date }}</td>
                            <td>{{ order.phone_number }}</td>
                            <td>{{ order.email }}</td>
                            <td> د.م {{ amount|add:'0' }}</td>
                            <td>{{ products_count }}</td>
                            {% if order.status == 'Pending' %}
                                <td class="p-2 mb-2 text-primary">{{ order.status }}</td>
                            {% elif order.status == 'Processed' %}
                                <td class="p-2 mb-2 text-success">{{ order.status }}</td>
                            {% else %}
                                <td class="p-2 mb-2 text-danger">{{ order.status }}</td>
                            {% endif %}
                            <td><a class="btn btn-sm btn-primary" href="{%  url 'order_details' ord.id %}">Detail</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Content End -->
{% endblock content %}

{% block side_scripts %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>
<script>
    $(document).ready(function() {
        $('#orderTable').DataTable({
        });
    });
</script>
{% endblock side_scripts %}