{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Khire Bladi | signin</title>

    <!-- favicon -->
	<link rel="shortcut icon" type="image/png" href="{% static 'img/icon.png' %}">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&display=swap" rel="stylesheet">
    

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

	<link rel="stylesheet" href="{% static 'dash_lib/owlcarousel/assets/owl.carousel.min.css' %}"> 
	<link rel="stylesheet" href="{% static 'dash_lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css' %}"> 

	<link rel="stylesheet" href="{% static 'dash_css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'dash_css/style.css' %}"> 
</head>

<body>
    <div class="container-fluid position-relative d-flex p-0">
        <!-- Spinner Start -->
        <div id="spinner" class="show bg-dark position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->


        <!-- Sign In Start -->
        <div class="container-fluid">
            <div class="row h-100 align-items-center justify-content-center" style="min-height: 100vh;">
                <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4">
                    <div class="bg-secondary rounded p-4 p-sm-5 my-4 mx-3">
                        <div class="d-flex align-items-center justify-content-between mb-3">
                            <a href="{% url 'index' %}" class="">
                                <img src="{% static 'img/logo.png' %}" style="width: 150px; height: 40px;" alt="">
                            </a>
                            <h3>Sign In</h3>
                        </div>
                        <form method="post">
                            {% csrf_token %}
                            <div class="form-floating mb-3">
                                <input type="text" name="username" class="form-control" id="floatingInput" placeholder="name">
                                <label for="floatingInput">User</label>
                            </div>
                            <div class="form-floating mb-4">
                                <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password">
                                <label for="floatingPassword">Password</label>
                            </div>
                            <button type="submit" style="background-color: #F28123 ; color: white;" class="btn py-3 w-100 mb-4">Sign In</button>
                        </form>
                        {% for message in messages %}
                            {% if message.tags == 'warning' %}
                                <div class="d-flex justify-content-center alert alert-danger" role="alert">{{message}}</div>
                            {% elif message.tags == 'success' %}
                                <div class="d-flex justify-content-center alert alert-success" role="alert">{{message}}</div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <!-- Sign In End -->
    </div>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="{% static 'dash_lib/easing/easing.min.js' %}"></script>
    <script src="{% static 'dash_js/main.js' %}"></script>
</body>

</html>