{% extends 'base.html' %}
{% load static %}

{% block title %}shop{% endblock %}

        
{% block content %}
<!-- content -->

<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 offset-lg-2 text-center">
				<div class="breadcrumb-text">
					<h2><span class="orange-text">خير بلادي </span></h2>
					<h1>السلة</h1>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end breadcrumb section -->

<!-- cart -->
<div class="cart-section mt-150 mb-150">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-12">
				<div class="cart-table-wrap">
					<table class="cart-table">
						<thead class="cart-table-head">
							<tr class="table-head-row">
								<th class="product-remove"></th>
								<th class="product-image">صورة المنتج</th>
								<th class="product-name">اسم المُنتج</th>
								<th class="product-price">الثمن</th>
								<th class="product-quantity">الكمية</th>
								<th class="product-total">المجموع</th>
							</tr>
						</thead>
					<tbody>
							
							{% for item in items %}
							<tr class="table-body-row" data-id="{{item.id}}">
								<td class="product-remove">
									<a class="remove-item" data-id="{{item.id}}" >
										<i class="far fa-window-close"></i>
									</a>
								</td>
								<td class="product-image"><img src="{{ item.product.produc_image.url }}" alt=""></td>
								<td class="product-name">
									<a style="color: #874713;" href="{% url 'single_product' slug=item.product.slug %}">{{item.product.name}}</a>
								</td>
								<td>د.م {{ item.product.price|add:'0' }}</td>
								<td class="product-quantity">
									<input type="number" value="{{ item.quantity }}" class="quantity-input" data-id="{{ item.id }}">
								</td>
								<td class="product-total" id="product-total-{{ item.id }}">د.م {{ item.get_total|add:'0' }}</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
					
					{% if not items  %}
						<div class="d-flex justify-content-center cart-buttons" >
							<h3>Theres no product</h3>
						</div>
						<div class="d-flex justify-content-center cart-buttons" >
							<a href="{% url 'shop' %}" class="boxed-btn">Go to store</a>
						</div>
					{% endif %}

				</div>
			</div>

			<div class="col-lg-4">
				<div class="total-section">
					<table class="total-table">
						<thead class="total-table-head">
							<tr class="table-total-row">
								<th>المجموع</th>
								<th>سعر</th>
							</tr>
						</thead>
						<tbody>
							<tr class="total-data">
								<td><strong>المجموع الفرعي: </strong></td>
								<td id="total-price">د.م {{ order.get_cart_total|add:'0'  }}</td>
							</tr>
							<tr class="total-data">
								<td><strong>شحن: </strong></td>
								<td>د.م 0</td>
							</tr>
							<tr class="total-data">
                                <td><h4><span class="orange-text" >المجموع :</span></td>
								<td id="total-prices">د.م {{ order.get_cart_total|add:'0' }}</td>
							</tr>
						</tbody>
					</table>
					<div class="cart-buttons">
						<a href="{% url 'checkout' %}" class="boxed-btn black">الدفع</a>
					</div>
				</div>
<!-- 
				<div class="coupon-section">
					<h3>Apply Coupon</h3>
					<div class="coupon-form-wrap">
						<form action="index.html">
							<p><input type="text" placeholder="Coupon"></p>
							<p><input type="submit" value="Apply"></p>
						</form>
					</div>
				</div> -->
			</div>
		</div>
	</div>
</div>
<!-- end cart -->
{% endblock %}

{% block sign_scripts %}
<script>
	document.addEventListener('DOMContentLoaded', function() {
		const quantityInputs = document.querySelectorAll('.quantity-input');
		const removeButtons = document.querySelectorAll('.remove-item');

		quantityInputs.forEach(input => {
            input.addEventListener('input', function() {
                const orderItemId = input.getAttribute('data-id');
                const newQuantity = input.value;

                // Make an AJAX request
                fetch(`/products/update_quantity/${orderItemId}/${newQuantity}/`)
                    .then(response => response.json())
                    .then(data => {
                        if (data.success) {

							const productTotalElement = document.getElementById(`product-total-${orderItemId}`);
							productTotalElement.textContent = `د.م ${Number(data.product_total)}`;

							const totalPriceElement = document.getElementById('total-price');
							totalPriceElement.textContent = `د.م ${Number(data.total_price)}`;

							const totalPricesElement = document.getElementById('total-prices');
							totalPricesElement.textContent = `د.م ${Number(data.total_price)}`;
                        } else {
                            console.error('Error updating quantity:', data.error);
                        }
                    })
                    .catch(error => console.error('Error:', error));
            });
        });


		function removeCartItem(orderItemId) {
			// Make an AJAX request to remove the item
			fetch(`/products/remove_item/${orderItemId}`)
				.then(response => response.json())
				.then(data => {
					if (data.success) {
						const rowToRemove = document.querySelector(`.table-body-row[data-id="${orderItemId}"]`);
						rowToRemove.remove();
	
						const totalPriceElement = document.getElementById('total-price');
						totalPriceElement.textContent = `د.م ${Number(data.total_price)}`;

						const totalPricesElement = document.getElementById('total-prices');
						totalPricesElement.textContent = `د.م ${Number(data.total_price)}`;
						
						const cartCountElement = document.querySelector('.cart-count');
						cartCountElement.innerText = `${data.cartItems}`;


					} else {
						console.error('Error removing item:', data.error);
					}
				})
				.catch(error => console.error('Error:', error));				
				
				
		}

		quantityInputs.forEach(input => {
			input.addEventListener('change', function () {
				const orderItemId = input.getAttribute('data-id');
				const newQuantity = input.value;
		
				if (newQuantity <= 0) {
					removeCartItem(orderItemId);
				} 
			});
		});
		
		removeButtons.forEach(button => {
			button.addEventListener('click', function() {
				const orderItemId = button.getAttribute('data-id');
				removeCartItem(orderItemId);
			});
		});
	});
	
</script>
{% endblock sign_scripts %}