{% extends 'base.html' %}
{% load static %}

{% block title %}shop{% endblock %}

        
{% block content %}

<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                    <h2><span class="orange-text">خير بلادي </span></h2>
                    <h1>دفع</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end breadcrumb section -->

<!-- check out section -->
<div class="checkout-section mt-150 mb-150">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="checkout-accordion-wrap">
                    <div class="accordion" id="accordionExample">
                        <div class="card single-accordion">
                            <div class="card-header" id="headingOne">
                                <h5 class="mb-0">
                                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    ( الدفع عند الاستلام ) معلومات الزبون
                                </button>
                                </h5>
                            </div>

                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                <div class="card-body">
                                    <div class="billing-address-form">
                                        <form id="myForm" action="{% url 'checkout' %}" method="POST">
                                            {% csrf_token %}
                                            <p> {{ form.name }} </p>
                                            <p> {{ form.email }} </p>
                                            <p> {{ form.city }} </p>
                                            <p> {{ form.phone_number }} </p>
                                        </form>
                                    </div>
                                </div>
                            </div>
                    
                            {% for message in messages %}
              
                    
                                {% if message.tags == 'warning' %}
                                    <div class="d-flex justify-content-center alert alert-danger" role="alert">{{message}}</div>
                                {% elif message.tags == 'success' %}
                                    <div class="d-flex justify-content-center alert alert-success" role="alert">{{message}}</div>
                                {% endif %}
                
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="order-details-wrap">
                    <table class="order-details">
                        <thead>
                            <tr>
                                <th>منتج</th>
                                <th>المجموع</th>
                            </tr>
                        </thead>
                        <tbody class="order-details-body">
                            
                            {% for item in items %}
                                <tr>
                                    <td>{{item}} x ({{item.quantity}})</td>
                                    <td>د.م {{item.get_total|add:'0'}}</td>
                                </tr>
                            {% endfor %}

                        </tbody>
                    </table>
                    <br>
                    <table class="order-details">
                        <thead>
                            <tr>
                                <th>تفاصيل طلبك </th>
                                <th>سعر</th>
                            </tr>
                        </thead>
                        <tbody class="checkout-details">
                            <tr>
                                <td>إجمالي قيمة المنتجات :</td>
								<td>د.م {{ order.get_cart_total|add:'0'  }}</td>
                            </tr>
                            <tr>
                                <td>شحن :</td>
								<td>د.م 0</td>
                            </tr>
                            <tr>
                                <td><h4><span class="orange-text" >المجموع :</span></td>
								<td>د.م {{ order.get_cart_total|add:'0' }}</td>
                            </tr>
                        </tbody>
                    </table>
                   
                    <a class="boxed-btn" onclick="document.getElementById('myForm').submit();" >Place Order</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end check out section -->


{% endblock %}

{% block side_scripts %}
<script>
    $(document).ready(function() {
        // Get CSRF token from the cookie
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    // Check if the cookie name matches with the CSRF token cookie name
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
    
        $('.boxed-btn').click(function() {
            // Include CSRF token in the AJAX request header
            var csrftoken = getCookie('csrftoken');
            var nameValue = $('#id_name').val();
            var emailValue = $('#id_email').val();
            var cityValue = $('#id_city').val();
            var phoneValue = $('#id_phone_number').val();
            $.ajax({
                url: '/products/checkout',
                type: 'POST',
                data: $('#myForm').serialize(),
                headers: {
                    'X-CSRFToken': csrftoken
                },
                success: function(response) {
                    if (response.success) {
                        $.ajax({
                            url: '/products/payout/' + nameValue + '/' + emailValue + '/' + cityValue + '/' + phoneValue + '/',
                            type: 'GET',
                            success: function(jsonResponse) {
                                console.log('JSON data from /products/payout:', jsonResponse);
                                alert("JSON data from /products/payout")
                            },
                            error: function(error) {
                                console.error('Error fetching JSON data:', error);
                            }
                        });

                        console.log("response", response);
                        console.log('Order placed successfully!');
                    } else {
                        // Error in form submission, handle the error
                        console.error(response.message);
                        console.log('Error in form submission!');
                        
                    }
                },
                error: function(error) {
                    // Handle other errors if any
                    console.error('Error:', error);
                }
            });
        });
    });
    
</script>
{% endblock side_scripts %}


