{% extends 'base.html' %}
{% load static %}

{% block title %}shop{% endblock %}

        
{% block content %}

<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                    <h2><span class="orange-text">خير بلادي </span></h2>
                    <h1>دفع</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end breadcrumb section -->

<!-- check out section -->
<div class="checkout-section mt-150 mb-150">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="checkout-accordion-wrap">
                    <div class="accordion" id="accordionExample">
                        <div class="card single-accordion">
                            <div class="card-header" id="headingOne">
                                <h5 class="mb-0">
                                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    ( الدفع عند الاستلام ) معلومات الزبون
                                </button>
                                </h5>
                            </div>

                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                <div class="card-body">
                                    <div class="billing-address-form">
                                        <form action="{% url 'checkout' %}" method="POST">
                                            {% csrf_token %}
                                            <p><input type="text"  name="name"  placeholder="اسم" ></p>
                                            <p><input type="email" name="email"  placeholder="بريد إلكتروني"></p>
                                            <p><input type="text"  name="city"  placeholder="المدينة"></p>
                                            <p><input type="tel"   name="phone"  placeholder="هاتف"></p>
                                    </div>
                                </div>
                            </div>
                            <div class="alert alert-primary" role="alert">
                                This is a primary alert—check it out!
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="order-details-wrap">
                    <table class="order-details">
                        <thead>
                            <tr>
                                <th>منتج</th>
                                <th>المجموع</th>
                            </tr>
                        </thead>
                        <tbody class="order-details-body">
                            
                            {% for item in items %}
                                <tr>
                                    <td>{{item}} x ({{item.quantity}})</td>
                                    <td>د.م {{item.get_total|add:'0'}}</td>
                                </tr>
                            {% endfor %}

                        </tbody>
                    </table>
                    <br>
                    <table class="order-details">
                        <thead>
                            <tr>
                                <th>تفاصيل طلبك </th>
                                <th>سعر</th>
                            </tr>
                        </thead>
                        <tbody class="checkout-details">
                            <tr>
                                <td>إجمالي قيمة المنتجات :</td>
								<td>د.م {{ order.get_cart_total|add:'0'  }}</td>
                            </tr>
                            <tr>
                                <td>شحن :</td>
								<td>د.م 0</td>
                            </tr>
                            <tr>
                                <td><h4><span class="orange-text" >المجموع :</span></td>
								<td>د.م {{ order.get_cart_total|add:'0' }}</td>
                            </tr>
                        </tbody>
                    </table>
                   
                    <button type="submit" style="background-color: transparent; border-color: transparent;"> <a class="boxed-btn">Place Order</a></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end check out section -->


{% endblock %}
